In [1]:
import pandas as pd
import numpy as np

In [3]:
path = 'C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/시각화.xlsx'
df = pd.read_excel(path)
df.head()

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_ratio,A_ratio,H_score,A_score,U_ODDS,O_ODDS,UO_STANDARD,MCH_SCORE,GAME_RESULT,referee
0,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,1.91,3.31,4,3,1.82,1.70,2.5,7,1,Michael Oliver
1,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,3.24,2.94,1,5,2.13,1.50,3.5,6,1,Simon Hooper
2,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,1.77,1.19,1,0,1.55,2.04,2.5,1,0,Peter Bankes
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,1.37,1.29,0,2,1.49,2.15,2.5,2,0,Chris Kavanagh
4,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,1.75,2.93,5,3,1.61,1.94,2.5,8,1,Robert Jones

In [1]:
from sklearn.preprocessing import Imputer

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (c:\Users\NTX550\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)