In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas.api.types import is_numeric_dtype
from sklearn.cluster import KMeans

In [3]:
path = ""
unov = pd.read_excel(path, index_col=0)
unov.columns

FileNotFoundError: [Errno 2] No such file or directory: ''

In [ ]:
unov

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
0,23.05.09 (í™”),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,0,11,13,2.13,1.50,3.5,1,5,6,1
1,23.05.09 (í™”),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,0,16,10,1.82,1.70,2.5,4,3,7,1
2,23.05.08 (ì›”),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,0,13,15,1.61,1.94,2.5,5,3,8,1
3,23.05.08 (ì›”),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,0,16,12,1.49,2.15,2.5,0,2,2,0
4,23.05.08 (ì›”),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,0,4,9,1.55,2.04,2.5,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,19.01.03 (ëª©),Wolverhampton Wanderers,Crystal Palace,51.9,48.1,1,4,9,17,730,...,0,9,7,0.00,0.00,0.0,0,0,0,0
1625,19.01.03 (ëª©),Newcastle United,Manchester United,34.9,65.1,3,7,14,16,561,...,0,10,9,0.00,0.00,0.0,0,0,0,0
1626,19.01.02 (ìˆ˜),Arsenal,Fulham,59.6,40.4,9,4,16,9,743,...,0,7,12,0.00,0.00,0.0,0,0,0,0
1627,19.01.02 (ìˆ˜),Cardiff City,Tottenham Hotspur,26.9,73.1,3,4,5,13,438,...,0,6,6,0.00,0.00,0.0,0,0,0,0
1628,19.01.01 (í™”),Everton,Leicester City,59.6,40.4,2,4,17,8,750,...,0,5,8,0.00,0.00,0.0,0,0,0,0

In [ ]:
# a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2)

a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2).reset_index(drop=False, inplace=False)
a
# b = a.set_index(keys='level_1', drop=True, inplace=False)
# b

C:\Users\NTX550\AppData\Local\Temp\ipykernel_2912\1958285927.py:3: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Away', 'Date'], dtype='object')
  a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2).reset_index(drop=False, inplace=False)

,Home,level_1,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
0,Arsenal,13,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
1,Arsenal,35,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
2,Arsenal,71,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
3,Arsenal,77,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
4,Arsenal,98,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Wolverhampton Wanderers,1545,56.833333,43.166667,7.000000,2.333333,18.333333,8.333333,731.666667,593.666667,...,0.0,8.666667,8.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1625,Wolverhampton Wanderers,1568,53.266667,46.733333,7.333333,3.000000,18.000000,9.666667,694.000000,632.000000,...,0.0,8.666667,9.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1626,Wolverhampton Wanderers,1596,50.733333,49.266667,5.666667,3.333333,13.666667,12.333333,663.333333,652.000000,...,0.0,9.333333,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1627,Wolverhampton Wanderers,1608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,Wolverhampton Wanderers,1624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN