In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas.api.types import is_numeric_dtype
from sklearn.cluster import KMeans

In [3]:
path = "C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/underrover__ML.xlsx"
unov = pd.read_excel(path, index_col=0)
unov.columns

Index(['Date', 'Home', 'Away', 'H_Possession', 'A_Possession',
       'H_Shots on target', 'A_Shots on target', 'H_Shots', 'A_Shots',
       'H_Touches', 'A_Touches', 'H_Passes', 'A_Passes', 'H_Tackles',
       'A_Tackles', 'H_Clearances', 'A_Clearances', 'H_Corners', 'A_Corners',
       'H_Offsides', 'A_Offsides', 'H_Yellow cards', 'A_Yellow cards',
       'H_Red cards', 'A_Red cards', 'H_Fouls', 'A_Fouls', 'U_ODDS', 'O_ODDS',
       'UO_STANDARD', 'HOME_SCORE', 'AWAY_SCORE', 'MCH_SCORE', 'GAME_RESULT'],
      dtype='object')

In [4]:
unov.head()

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
0,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,0,11,13,2.13,1.50,3.5,1,5,6,1
1,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,0,16,10,1.82,1.70,2.5,4,3,7,1
2,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,0,13,15,1.61,1.94,2.5,5,3,8,1
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,0,16,12,1.49,2.15,2.5,0,2,2,0
4,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,0,4,9,1.55,2.04,2.5,1,0,1,0

In [58]:
val = 'Arsenal'
unov['a'] = unov.sort_values(by = 'Home')['H_Possession'].rolling(3).mean()
unov.loc[:,['H_Possession','a']]

      H_Possession          a
0             77.7  57.333333
1             35.9  43.333333
2             57.1  55.900000
3             54.3  49.500000
4             34.7  40.666667
...            ...        ...
1624          51.9  51.700000
1625          34.9  47.066667
1626          59.6  63.366667
1627          26.9  31.833333
1628          59.6  52.366667

[1629 rows x 2 columns]

In [68]:
unov.sort_values(by = 'Home')['H_Possession']

604     60.7
779     69.5
981     56.2
771     59.1
1349    56.2
        ...
887     54.6
435     47.8
876     43.9
915     67.8
1113    55.1
Name: H_Possession, Length: 1629, dtype: float64

In [65]:
unov.sort_values(by = 'Home')['H_Possession'].rolling(3).mean()

604           NaN
779           NaN
981     62.133333
771     61.600000
1349    57.166667
          ...
887     47.366667
435     47.200000
876     48.766667
915     53.166667
1113    55.600000
Name: H_Possession, Length: 1629, dtype: float64

In [71]:
from numpy import nan

In [74]:
temp = pd.DataFrame({
    "a":[10,20,30,40,50,60],
    "b":[10,20,nan,40,50,60]
})
temp

    a     b
0  10  10.0
1  20  20.0
2  30   NaN
3  40  40.0
4  50  50.0
5  60  60.0

In [77]:
temp["b"].rolling(3, min_periods=1).mean()

0    10.0
1    15.0
2    15.0
3    30.0
4    45.0
5    50.0
Name: b, dtype: float64

In [78]:
temp["b"].rolling(3).mean()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5    50.0
Name: b, dtype: float64

In [67]:
unov.iloc[981,:]

Date                            20.11.30 (월)
Home                                 Arsenal
Away                 Wolverhampton Wanderers
H_Possession                            56.2
A_Possession                            43.8
H_Shots on target                          2
A_Shots on target                          5
H_Shots                                   13
A_Shots                                   11
H_Touches                                683
A_Touches                                599
H_Passes                                 494
A_Passes                                 405
H_Tackles                                 13
A_Tackles                                 12
H_Clearances                              16
A_Clearances                              36
H_Corners                                  8
A_Corners                                  4
H_Offsides                                 2
A_Offsides                                 0
H_Yellow cards                             3
A_Yellow cards                             4
H_Red cards                                0
A_Red cards                                0
H_Fouls                                   13
A_Fouls                                   13
U_ODDS                                  2.05
O_ODDS                                  1.51
UO_STANDARD                              2.5
HOME_SCORE                                 1
AWAY_SCORE                                 2
MCH_SCORE                                  3
GAME_RESULT                                1
H_Poss_M                                57.1
a                                  62.133333
Name: 981, dtype: object

In [79]:
a= unov.groupby(['Home']).rolling(window=3).mean()

a

C:\Users\NTX550\AppData\Local\Temp\ipykernel_17276\1306561316.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Away', 'Date'], dtype='object')
  a= unov.groupby(['Home']).rolling(window=3).mean()

                              H_Possession  A_Possession  H_Shots on target  \
Home
Arsenal                 13             NaN           NaN                NaN
                        35             NaN           NaN                NaN
                        71       65.366667     34.633333           7.333333
                        77       67.833333     32.166667           5.666667
                        98       69.800000     30.200000           6.666667
...                                    ...           ...                ...
Wolverhampton Wanderers 1545     58.100000     41.900000           4.333333
                        1568     55.200000     44.800000           4.666667
                        1596     56.833333     43.166667           7.000000
                        1608     53.266667     46.733333           7.333333
                        1624     50.733333     49.266667           5.666667

                              A_Shots on target    H_Shots    A_Shots  \
Home
Arsenal                 13                  NaN        NaN        NaN
                        35                  NaN        NaN        NaN
                        71             5.000000  18.000000   7.333333
                        77             5.333333  17.666667   8.000000
                        98             4.666667  19.666667   6.666667
...                                         ...        ...        ...
Wolverhampton Wanderers 1545           2.666667  15.000000  11.666667
                        1568           3.666667  14.666667  13.000000
                        1596           2.333333  18.333333   8.333333
                        1608           3.000000  18.000000   9.666667
                        1624           3.333333  13.666667  12.333333

                               H_Touches   A_Touches    H_Passes    A_Passes  \
Home
Arsenal                 13           NaN         NaN         NaN         NaN
                        35           NaN         NaN         NaN         NaN
                        71    794.333333  511.000000  616.333333  333.000000
                        77    813.333333  486.333333  631.000000  300.666667
                        98    836.333333  473.666667  654.333333  283.000000
...                                  ...         ...         ...         ...
Wolverhampton Wanderers 1545  734.333333  566.666667  532.666667  388.666667
                        1568  735.666667  623.333333  535.333333  434.333333
                        1596  731.666667  593.666667  524.333333  396.000000
                        1608  694.000000  632.000000  493.666667  427.000000
                        1624  663.333333  652.000000  461.666667  442.333333

                              ...    A_Fouls    U_ODDS    O_ODDS  UO_STANDARD  \
Home                          ...
Arsenal                 13    ...        NaN       NaN       NaN          NaN
                        35    ...        NaN       NaN       NaN          NaN
                        71    ...  12.333333  1.706667  1.886667     2.833333
                        77    ...  12.333333  1.693333  1.906667     2.833333
                        98    ...  10.333333  1.520000  2.106667     2.500000
...                           ...        ...       ...       ...          ...
Wolverhampton Wanderers 1545  ...   8.333333  0.000000  0.000000     0.000000
                        1568  ...   8.666667  0.000000  0.000000     0.000000
                        1596  ...   8.333333  0.000000  0.000000     0.000000
                        1608  ...   9.666667  0.000000  0.000000     0.000000
                        1624  ...   9.000000  0.000000  0.000000     0.000000

                              HOME_SCORE  AWAY_SCORE  MCH_SCORE  GAME_RESULT  \
Home
Arsenal                 13           NaN         NaN        NaN          NaN
                        35           NaN         NaN        NaN          NaN
                        71      3.333333    1.666667   5.000000          1.0
                        77      3.666667    1.666667   5.333333          1.0
                        98      3.000000    0.666667   5.000000          1.0
...                                  ...         ...        ...          ...
Wolverhampton Wanderers 1545    0.000000    0.000000   0.000000          0.0
                        1568    0.000000    0.000000   0.000000          0.0
                        1596    0.000000    0.000000   0.000000          0.0
                        1608    0.000000    0.000000   0.000000          0.0
                        1624    0.000000    0.000000   0.000000          0.0

                               H_Poss_M          a
Home
Arsenal                 13          NaN        NaN
                        35          NaN        NaN
                        71    67.666667  54.344444
                        77    69.811111  59.844444
                        98    71.277778  62.444444
...                                 ...        ...
Wolverhampton Wanderers 1545  56.711111  55.388889
                        1568  55.100000  51.455556
                        1596  53.611111  52.666667
                        1608  34.666667  52.388889
                        1624  16.911111  51.544444

[1629 rows x 33 columns]

In [85]:
a.loc['Arsenal',:].shift(-2)

,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,A_Passes,...,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,H_Poss_M,a
13,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,333.000000,...,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0,67.666667,54.344444
35,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,300.666667,...,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0,69.811111,59.844444
71,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,283.000000,...,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0,71.277778,62.444444
77,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,272.000000,...,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0,70.877778,62.766667
98,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,253.666667,...,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0,68.044444,62.144444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,65.933333,34.066667,5.000000,3.666667,14.333333,14.000000,809.000000,504.666667,607.333333,308.000000,...,11.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,59.188889,62.244444
1563,56.233333,43.766667,4.333333,2.333333,13.333333,14.000000,730.000000,621.000000,509.000000,408.333333,...,13.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,37.211111,54.966667
1593,55.400000,44.600000,6.000000,2.333333,14.666667,13.666667,704.333333,621.666667,495.666667,414.666667,...,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,18.466667,52.944444
1606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
a= unov.groupby(['Home']).rolling(window=3,min_periods=1).mean()

a

C:\Users\NTX550\AppData\Local\Temp\ipykernel_17276\980255218.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Away', 'Date'], dtype='object')
  a= unov.groupby(['Home']).rolling(window=3,min_periods=1).mean()

                              H_Possession  A_Possession  H_Shots on target  \
Home
Arsenal                 13       54.800000     45.200000          10.000000
                        35       64.500000     35.500000           8.000000
                        71       65.366667     34.633333           7.333333
                        77       67.833333     32.166667           5.666667
                        98       69.800000     30.200000           6.666667
...                                    ...           ...                ...
Wolverhampton Wanderers 1545     58.100000     41.900000           4.333333
                        1568     55.200000     44.800000           4.666667
                        1596     56.833333     43.166667           7.000000
                        1608     53.266667     46.733333           7.333333
                        1624     50.733333     49.266667           5.666667

                              A_Shots on target    H_Shots    A_Shots  \
Home
Arsenal                 13             4.000000  16.000000   7.000000
                        35             5.000000  20.500000   7.500000
                        71             5.000000  18.000000   7.333333
                        77             5.333333  17.666667   8.000000
                        98             4.666667  19.666667   6.666667
...                                         ...        ...        ...
Wolverhampton Wanderers 1545           2.666667  15.000000  11.666667
                        1568           3.666667  14.666667  13.000000
                        1596           2.333333  18.333333   8.333333
                        1608           3.000000  18.000000   9.666667
                        1624           3.333333  13.666667  12.333333

                               H_Touches   A_Touches    H_Passes    A_Passes  \
Home
Arsenal                 13    707.000000  619.000000  543.000000  455.000000
                        35    784.500000  529.500000  606.500000  346.000000
                        71    794.333333  511.000000  616.333333  333.000000
                        77    813.333333  486.333333  631.000000  300.666667
                        98    836.333333  473.666667  654.333333  283.000000
...                                  ...         ...         ...         ...
Wolverhampton Wanderers 1545  734.333333  566.666667  532.666667  388.666667
                        1568  735.666667  623.333333  535.333333  434.333333
                        1596  731.666667  593.666667  524.333333  396.000000
                        1608  694.000000  632.000000  493.666667  427.000000
                        1624  663.333333  652.000000  461.666667  442.333333

                              ...    H_Fouls    A_Fouls    U_ODDS    O_ODDS  \
Home                          ...
Arsenal                 13    ...  10.000000  10.000000  1.660000  1.870000
                        35    ...  10.000000  12.000000  1.830000  1.720000
                        71    ...  10.333333  12.333333  1.706667  1.886667
                        77    ...   9.666667  12.333333  1.693333  1.906667
                        98    ...   8.333333  10.333333  1.520000  2.106667
...                           ...        ...        ...       ...       ...
Wolverhampton Wanderers 1545  ...   5.333333   8.333333  0.000000  0.000000
                        1568  ...   7.666667   8.666667  0.000000  0.000000
                        1596  ...   8.666667   8.333333  0.000000  0.000000
                        1608  ...   8.666667   9.666667  0.000000  0.000000
                        1624  ...   9.333333   9.000000  0.000000  0.000000

                              UO_STANDARD  HOME_SCORE  AWAY_SCORE  MCH_SCORE  \
Home
Arsenal                 13       2.500000    3.000000    1.000000   4.000000
                        35       3.000000    3.000000    2.000000   5.000000
                        71       2.833333    3.333333    1.666667   5.000000
                        77       2.833333    3.666667    1.666667   5.333333
                        98       2.500000    3.000000    0.666667   5.000000
...                                   ...         ...         ...        ...
Wolverhampton Wanderers 1545     0.000000    0.000000    0.000000   0.000000
                        1568     0.000000    0.000000    0.000000   0.000000
                        1596     0.000000    0.000000    0.000000   0.000000
                        1608     0.000000    0.000000    0.000000   0.000000
                        1624     0.000000    0.000000    0.000000   0.000000

                              GAME_RESULT   H_Poss_M
Home
Arsenal                 13            1.0  65.366667
                        35            1.0  66.600000
                        71            1.0  67.666667
                        77            1.0  69.811111
                        98            1.0  71.277778
...                                   ...        ...
Wolverhampton Wanderers 1545          0.0  56.711111
                        1568          0.0  55.100000
                        1596          0.0  53.611111
                        1608          0.0  34.666667
                        1624          0.0  16.911111

[1629 rows x 32 columns]

In [28]:
# a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2)

a = unov.groupby(['Home'])['H_Possession'].rolling(window = 3).mean().sh.reset_index(drop=False, inplace=False)
# a
b = a.set_index(keys='level_1', drop=True, inplace=False)
b

AttributeError: 'Series' object has no attribute 'sh'

In [8]:
c = b
c['H_Possession']= c['H_Possession'].fillna(0)
c

,Home,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
level_1,,,,,,,,,,,,,,,,,,,,,
13,Arsenal,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
35,Arsenal,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
71,Arsenal,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
77,Arsenal,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
98,Arsenal,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,Wolverhampton Wanderers,56.833333,43.166667,7.000000,2.333333,18.333333,8.333333,731.666667,593.666667,524.333333,...,0.0,8.666667,8.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1568,Wolverhampton Wanderers,53.266667,46.733333,7.333333,3.000000,18.000000,9.666667,694.000000,632.000000,493.666667,...,0.0,8.666667,9.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1596,Wolverhampton Wanderers,50.733333,49.266667,5.666667,3.333333,13.666667,12.333333,663.333333,652.000000,461.666667,...,0.0,9.333333,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1608,Wolverhampton Wanderers,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,Wolverhampton Wanderers,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
b[b['Home'] =='Arsenal'] # 인덱스를 칼럼 -> 전체 데이터 인덱스랑 일치

,Home,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
level_1,,,,,,,,,,,,,,,,,,,,,
13,Arsenal,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
35,Arsenal,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
71,Arsenal,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
77,Arsenal,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
98,Arsenal,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Arsenal,65.933333,34.066667,5.000000,3.666667,14.333333,14.000000,809.000000,504.666667,607.333333,...,0.0,10.666667,11.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1563,Arsenal,56.233333,43.766667,4.333333,2.333333,13.333333,14.000000,730.000000,621.000000,509.000000,...,0.0,11.333333,13.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1593,Arsenal,55.400000,44.600000,6.000000,2.333333,14.666667,13.666667,704.333333,621.666667,495.666667,...,0.0,11.333333,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1606,Arsenal,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,Arsenal,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
unov.loc[:,"H_Poss_M"] = c.loc[:,['H_Possession']]

In [11]:
unov

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,H_Poss_M
0,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,11,13,2.13,1.50,3.5,1,5,6,1,64.833333
1,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,16,10,1.82,1.70,2.5,4,3,7,1,30.833333
2,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,13,15,1.61,1.94,2.5,5,3,8,1,47.933333
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,16,12,1.49,2.15,2.5,0,2,2,0,58.233333
4,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,4,9,1.55,2.04,2.5,1,0,1,0,30.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,19.01.03 (목),Wolverhampton Wanderers,Crystal Palace,51.9,48.1,1,4,9,17,730,...,9,7,0.00,0.00,0.0,0,0,0,0,0.000000
1625,19.01.03 (목),Newcastle United,Manchester United,34.9,65.1,3,7,14,16,561,...,10,9,0.00,0.00,0.0,0,0,0,0,0.000000
1626,19.01.02 (수),Arsenal,Fulham,59.6,40.4,9,4,16,9,743,...,7,12,0.00,0.00,0.0,0,0,0,0,0.000000
1627,19.01.02 (수),Cardiff City,Tottenham Hotspur,26.9,73.1,3,4,5,13,438,...,6,6,0.00,0.00,0.0,0,0,0,0,0.000000
1628,19.01.01 (화),Everton,Leicester City,59.6,40.4,2,4,17,8,750,...,5,8,0.00,0.00,0.0,0,0,0,0,0.000000

In [12]:
col = (unov['Home']=='Arsenal')
filtered = unov.loc[col,:]
filtered
# a=filtered.groupby(by=['Home']).rolling(window = 3).mean()
# a = unov.groupby(by = 'Home').rolling(window = 5, min_periods=1).mean()
# 1) apply lambda 2) excel로 따로 try except
# a

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,H_Poss_M
13,23.05.03 (수),Arsenal,Chelsea,54.8,45.2,10,4,16,7,707,...,10,10,1.66,1.87,2.5,3,1,4,1,65.366667
35,23.04.22 (토),Arsenal,Southampton,74.2,25.8,6,6,25,8,862,...,10,14,2.00,1.57,3.5,3,3,6,1,67.833333
71,23.04.01 (토),Arsenal,Leeds United,67.1,32.9,6,5,13,7,814,...,11,13,1.46,2.22,2.5,4,1,5,1,69.800000
77,23.03.19 (일),Arsenal,Crystal Palace,62.2,37.8,5,5,15,9,764,...,8,10,1.62,1.93,2.5,4,1,5,1,71.800000
98,23.03.05 (일),Arsenal,Bournemouth,80.1,19.9,9,4,31,4,931,...,6,8,1.48,2.17,2.5,1,0,5,1,72.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,19.02.28 (목),Arsenal,Bournemouth,64.8,35.2,7,5,16,13,822,...,11,9,0.00,0.00,0.0,0,0,0,0,65.933333
1563,19.02.24 (일),Arsenal,Southampton,62.1,37.9,4,4,12,10,820,...,7,14,0.00,0.00,0.0,0,0,0,0,56.233333
1593,19.01.30 (수),Arsenal,Cardiff City,70.9,29.1,4,2,15,19,785,...,14,12,0.00,0.00,0.0,0,0,0,0,55.400000
1606,19.01.20 (일),Arsenal,Chelsea,35.7,64.3,5,1,13,13,585,...,13,15,0.00,0.00,0.0,0,0,0,0,0.000000
1626,19.01.02 (수),Arsenal,Fulham,59.6,40.4,9,4,16,9,743,...,7,12,0.00,0.00,0.0,0,0,0,0,0.000000

In [13]:
def recent_5_mean(data, group_var, variable, lag_num):
    final_data = pd.DataFrame()
    for var in variable:
       lag_data = data.groupby(group_var)[var].shift().rolling(lag_num).mean()
       final_data[var] = lag_data
    return final_data

sum_var = unov.columns[3:27].tolist()
group_var = ['Home']
group_var2 = ['Home','Date']
sum_var

['H_Possession',
 'A_Possession',
 'H_Shots on target',
 'A_Shots on target',
 'H_Shots',
 'A_Shots',
 'H_Touches',
 'A_Touches',
 'H_Passes',
 'A_Passes',
 'H_Tackles',
 'A_Tackles',
 'H_Clearances',
 'A_Clearances',
 'H_Corners',
 'A_Corners',
 'H_Offsides',
 'A_Offsides',
 'H_Yellow cards',
 'A_Yellow cards',
 'H_Red cards',
 'A_Red cards',
 'H_Fouls',
 'A_Fouls']

In [14]:
summary = recent_5_mean(unov,group_var, sum_var, 5)

In [15]:
summary

,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,A_Passes,...,H_Corners,A_Corners,H_Offsides,A_Offsides,H_Yellow cards,A_Yellow cards,H_Red cards,A_Red cards,H_Fouls,A_Fouls
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,44.76,55.24,4.4,3.0,9.6,11.4,621.2,726.0,432.6,533.8,...,4.6,4.8,3.4,1.8,1.2,1.8,0.0,0.0,8.0,10.4
1625,47.76,52.24,4.8,3.0,10.8,11.4,631.6,678.4,435.8,482.4,...,5.6,6.2,2.8,1.2,1.2,1.8,0.0,0.0,9.0,9.6
1626,41.72,58.28,4.6,2.8,11.4,12.2,570.0,740.6,367.2,541.6,...,5.0,6.4,2.0,1.0,1.0,2.0,0.0,0.0,10.4,10.0
1627,43.02,56.98,4.2,2.4,11.0,12.6,560.6,684.6,352.2,479.8,...,5.4,7.6,2.2,1.2,1.2,1.8,0.0,0.0,10.8,11.0
1628,44.92,55.08,4.2,3.4,11.8,13.6,577.0,660.6,355.4,444.4,...,5.0,8.8,1.4,0.8,2.2,1.4,0.0,0.0,12.8,10.6