In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas.api.types import is_numeric_dtype
from sklearn.cluster import KMeans

In [3]:
path = "C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/underrover__ML.xlsx"
unov = pd.read_excel(path, index_col=0)
unov.columns

Index(['Date', 'Home', 'Away', 'H_Possession', 'A_Possession',
       'H_Shots on target', 'A_Shots on target', 'H_Shots', 'A_Shots',
       'H_Touches', 'A_Touches', 'H_Passes', 'A_Passes', 'H_Tackles',
       'A_Tackles', 'H_Clearances', 'A_Clearances', 'H_Corners', 'A_Corners',
       'H_Offsides', 'A_Offsides', 'H_Yellow cards', 'A_Yellow cards',
       'H_Red cards', 'A_Red cards', 'H_Fouls', 'A_Fouls', 'U_ODDS', 'O_ODDS',
       'UO_STANDARD', 'HOME_SCORE', 'AWAY_SCORE', 'MCH_SCORE', 'GAME_RESULT'],
      dtype='object')

In [4]:
unov.head()

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
0,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,0,11,13,2.13,1.50,3.5,1,5,6,1
1,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,0,16,10,1.82,1.70,2.5,4,3,7,1
2,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,0,13,15,1.61,1.94,2.5,5,3,8,1
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,0,16,12,1.49,2.15,2.5,0,2,2,0
4,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,0,4,9,1.55,2.04,2.5,1,0,1,0

In [5]:
val = 'Arsenal'
a = unov.sort_values(by = 'Home')
a

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
604,21.11.07 (일),Arsenal,Watford,60.7,39.3,6,1,14,7,705,...,1,6,19,1.51,2.05,2.5,1,1,1,0
779,21.04.18 (일),Arsenal,Fulham,69.5,30.5,5,1,18,3,804,...,0,9,11,1.88,1.62,2.5,1,1,2,0
981,20.11.30 (월),Arsenal,Wolverhampton Wanderers,56.2,43.8,2,5,13,11,683,...,0,13,13,2.05,1.51,2.5,1,2,3,1
771,21.04.24 (토),Arsenal,Everton,59.1,40.9,3,1,14,8,804,...,0,13,10,1.74,1.74,2.5,0,1,1,0
1349,19.10.28 (월),Arsenal,Crystal Palace,56.2,43.8,6,4,15,10,639,...,0,18,9,0.00,0.00,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,21.02.03 (수),Wolverhampton Wanderers,Arsenal,54.6,45.4,7,3,11,9,745,...,2,11,8,2.00,1.54,2.5,2,1,3,1
435,22.03.19 (토),Wolverhampton Wanderers,Leeds United,47.8,52.2,8,6,14,15,607,...,0,13,14,1.79,1.69,2.5,2,3,5,1
876,21.02.07 (일),Wolverhampton Wanderers,Leicester City,43.9,56.1,1,3,13,13,635,...,0,11,15,1.91,1.60,2.5,0,0,0,0
915,21.01.16 (토),Wolverhampton Wanderers,West Bromwich Albion,67.8,32.2,6,5,23,12,761,...,0,10,14,1.92,1.59,2.5,2,3,5,1
1113,20.07.12 (일),Wolverhampton Wanderers,Everton,55.1,44.9,7,2,14,6,717,...,0,9,9,2.05,1.51,2.5,3,0,3,1

In [6]:
a = unov.groupby(['Home']).rolling(3).mean()
# a = unov.groupby(by = 'Home').rolling(window = 5, min_periods=1).mean()
# 1) lambda 2) excel로 따로
a

C:\Users\NTX550\AppData\Local\Temp\ipykernel_16868\2397864985.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Away', 'Date'], dtype='object')
  a = unov.groupby(['Home']).rolling(3).mean()

                              H_Possession  A_Possession  H_Shots on target  \
Home
Arsenal                 13             NaN           NaN                NaN
                        35             NaN           NaN                NaN
                        71       65.366667     34.633333           7.333333
                        77       67.833333     32.166667           5.666667
                        98       69.800000     30.200000           6.666667
...                                    ...           ...                ...
Wolverhampton Wanderers 1545     58.100000     41.900000           4.333333
                        1568     55.200000     44.800000           4.666667
                        1596     56.833333     43.166667           7.000000
                        1608     53.266667     46.733333           7.333333
                        1624     50.733333     49.266667           5.666667

                              A_Shots on target    H_Shots    A_Shots  \
Home
Arsenal                 13                  NaN        NaN        NaN
                        35                  NaN        NaN        NaN
                        71             5.000000  18.000000   7.333333
                        77             5.333333  17.666667   8.000000
                        98             4.666667  19.666667   6.666667
...                                         ...        ...        ...
Wolverhampton Wanderers 1545           2.666667  15.000000  11.666667
                        1568           3.666667  14.666667  13.000000
                        1596           2.333333  18.333333   8.333333
                        1608           3.000000  18.000000   9.666667
                        1624           3.333333  13.666667  12.333333

                               H_Touches   A_Touches    H_Passes    A_Passes  \
Home
Arsenal                 13           NaN         NaN         NaN         NaN
                        35           NaN         NaN         NaN         NaN
                        71    794.333333  511.000000  616.333333  333.000000
                        77    813.333333  486.333333  631.000000  300.666667
                        98    836.333333  473.666667  654.333333  283.000000
...                                  ...         ...         ...         ...
Wolverhampton Wanderers 1545  734.333333  566.666667  532.666667  388.666667
                        1568  735.666667  623.333333  535.333333  434.333333
                        1596  731.666667  593.666667  524.333333  396.000000
                        1608  694.000000  632.000000  493.666667  427.000000
                        1624  663.333333  652.000000  461.666667  442.333333

                              ...  A_Red cards    H_Fouls    A_Fouls  \
Home                          ...
Arsenal                 13    ...          NaN        NaN        NaN
                        35    ...          NaN        NaN        NaN
                        71    ...     0.000000  10.333333  12.333333
                        77    ...     0.000000   9.666667  12.333333
                        98    ...     0.000000   8.333333  10.333333
...                           ...          ...        ...        ...
Wolverhampton Wanderers 1545  ...     0.333333   5.333333   8.333333
                        1568  ...     0.333333   7.666667   8.666667
                        1596  ...     0.000000   8.666667   8.333333
                        1608  ...     0.000000   8.666667   9.666667
                        1624  ...     0.000000   9.333333   9.000000

                                U_ODDS    O_ODDS  UO_STANDARD  HOME_SCORE  \
Home
Arsenal                 13         NaN       NaN          NaN         NaN
                        35         NaN       NaN          NaN         NaN
                        71    1.706667  1.886667     2.833333    3.333333
                        77    1.693333  1.906667     2.833333    3.666667
                        98    1.520000  2.106667     2.500000    3.000000
...                                ...       ...          ...         ...
Wolverhampton Wanderers 1545  0.000000  0.000000     0.000000    0.000000
                        1568  0.000000  0.000000     0.000000    0.000000
                        1596  0.000000  0.000000     0.000000    0.000000
                        1608  0.000000  0.000000     0.000000    0.000000
                        1624  0.000000  0.000000     0.000000    0.000000

                              AWAY_SCORE  MCH_SCORE  GAME_RESULT
Home
Arsenal                 13           NaN        NaN          NaN
                        35           NaN        NaN          NaN
                        71      1.666667   5.000000          1.0
                        77      1.666667   5.333333          1.0
                        98      0.666667   5.000000          1.0
...                                  ...        ...          ...
Wolverhampton Wanderers 1545    0.000000   0.000000          0.0
                        1568    0.000000   0.000000          0.0
                        1596    0.000000   0.000000          0.0
                        1608    0.000000   0.000000          0.0
                        1624    0.000000   0.000000          0.0

[1629 rows x 31 columns]

In [9]:
# a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2)

a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2).reset_index(drop=False, inplace=False)
# a
b = a.set_index(keys='level_1', drop=True, inplace=False)
b

C:\Users\NTX550\AppData\Local\Temp\ipykernel_16868\893901505.py:3: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Away', 'Date'], dtype='object')
  a = unov.groupby(['Home']).rolling(window = 3).mean().shift(-2).reset_index(drop=False, inplace=False)

,Home,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
level_1,,,,,,,,,,,,,,,,,,,,,
13,Arsenal,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
35,Arsenal,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
71,Arsenal,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
77,Arsenal,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
98,Arsenal,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,Wolverhampton Wanderers,56.833333,43.166667,7.000000,2.333333,18.333333,8.333333,731.666667,593.666667,524.333333,...,0.0,8.666667,8.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1568,Wolverhampton Wanderers,53.266667,46.733333,7.333333,3.000000,18.000000,9.666667,694.000000,632.000000,493.666667,...,0.0,8.666667,9.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1596,Wolverhampton Wanderers,50.733333,49.266667,5.666667,3.333333,13.666667,12.333333,663.333333,652.000000,461.666667,...,0.0,9.333333,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1608,Wolverhampton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,Wolverhampton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
c = b
c['H_Possession']= c['H_Possession'].fillna(0)
c

,Home,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
level_1,,,,,,,,,,,,,,,,,,,,,
13,Arsenal,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
35,Arsenal,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
71,Arsenal,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
77,Arsenal,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
98,Arsenal,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,Wolverhampton Wanderers,56.833333,43.166667,7.000000,2.333333,18.333333,8.333333,731.666667,593.666667,524.333333,...,0.0,8.666667,8.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1568,Wolverhampton Wanderers,53.266667,46.733333,7.333333,3.000000,18.000000,9.666667,694.000000,632.000000,493.666667,...,0.0,8.666667,9.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1596,Wolverhampton Wanderers,50.733333,49.266667,5.666667,3.333333,13.666667,12.333333,663.333333,652.000000,461.666667,...,0.0,9.333333,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1608,Wolverhampton Wanderers,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,Wolverhampton Wanderers,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
b[b['Home'] =='Arsenal'] # 인덱스를 칼럼 -> 전체 데이터 인덱스랑 일치

,Home,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
level_1,,,,,,,,,,,,,,,,,,,,,
13,Arsenal,65.366667,34.633333,7.333333,5.000000,18.000000,7.333333,794.333333,511.000000,616.333333,...,0.0,10.333333,12.333333,1.706667,1.886667,2.833333,3.333333,1.666667,5.000000,1.0
35,Arsenal,67.833333,32.166667,5.666667,5.333333,17.666667,8.000000,813.333333,486.333333,631.000000,...,0.0,9.666667,12.333333,1.693333,1.906667,2.833333,3.666667,1.666667,5.333333,1.0
71,Arsenal,69.800000,30.200000,6.666667,4.666667,19.666667,6.666667,836.333333,473.666667,654.333333,...,0.0,8.333333,10.333333,1.520000,2.106667,2.500000,3.000000,0.666667,5.000000,1.0
77,Arsenal,71.800000,28.200000,6.333333,4.666667,20.333333,7.000000,869.000000,458.000000,691.666667,...,0.0,6.333333,10.000000,1.580000,2.000000,2.500000,3.000000,0.333333,4.666667,1.0
98,Arsenal,72.233333,27.766667,5.000000,5.000000,18.666667,7.000000,842.333333,430.666667,670.666667,...,0.0,7.333333,11.666667,1.616667,1.953333,2.500000,2.000000,1.000000,4.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Arsenal,65.933333,34.066667,5.000000,3.666667,14.333333,14.000000,809.000000,504.666667,607.333333,...,0.0,10.666667,11.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1563,Arsenal,56.233333,43.766667,4.333333,2.333333,13.333333,14.000000,730.000000,621.000000,509.000000,...,0.0,11.333333,13.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1593,Arsenal,55.400000,44.600000,6.000000,2.333333,14.666667,13.666667,704.333333,621.666667,495.666667,...,0.0,11.333333,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1606,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
unov.loc[:,"H_Poss_M"] = c.loc[:,['H_Possession']]

In [17]:
unov

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,H_Poss_M
0,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,11,13,2.13,1.50,3.5,1,5,6,1,64.833333
1,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,16,10,1.82,1.70,2.5,4,3,7,1,30.833333
2,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,13,15,1.61,1.94,2.5,5,3,8,1,47.933333
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,16,12,1.49,2.15,2.5,0,2,2,0,58.233333
4,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,4,9,1.55,2.04,2.5,1,0,1,0,30.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,19.01.03 (목),Wolverhampton Wanderers,Crystal Palace,51.9,48.1,1,4,9,17,730,...,9,7,0.00,0.00,0.0,0,0,0,0,0.000000
1625,19.01.03 (목),Newcastle United,Manchester United,34.9,65.1,3,7,14,16,561,...,10,9,0.00,0.00,0.0,0,0,0,0,0.000000
1626,19.01.02 (수),Arsenal,Fulham,59.6,40.4,9,4,16,9,743,...,7,12,0.00,0.00,0.0,0,0,0,0,0.000000
1627,19.01.02 (수),Cardiff City,Tottenham Hotspur,26.9,73.1,3,4,5,13,438,...,6,6,0.00,0.00,0.0,0,0,0,0,0.000000
1628,19.01.01 (화),Everton,Leicester City,59.6,40.4,2,4,17,8,750,...,5,8,0.00,0.00,0.0,0,0,0,0,0.000000

In [ ]:
col = (unov['Home']=='Arsenal')
filtered = unov.loc[col,:]
filtered
# a=filtered.groupby(by=['Home']).rolling(window = 3).mean()
# a = unov.groupby(by = 'Home').rolling(window = 5, min_periods=1).mean()
# 1) apply lambda 2) excel로 따로 try except
# a

In [ ]:
def recent_5_mean(data, group_var, variable, lag_num):
    final_data = pd.DataFrame()
    for var in variable:
       lag_data = data.groupby(group_var)[var].shift().rolling(lag_num).mean()
       final_data[var] = lag_data
    return final_data

sum_var = unov.columns[3:27].tolist()
group_var = ['Home']
group_var2 = ['Home','Date']
sum_var

['H_Possession',
 'A_Possession',
 'H_Shots on target',
 'A_Shots on target',
 'H_Shots',
 'A_Shots',
 'H_Touches',
 'A_Touches',
 'H_Passes',
 'A_Passes',
 'H_Tackles',
 'A_Tackles',
 'H_Clearances',
 'A_Clearances',
 'H_Corners',
 'A_Corners',
 'H_Offsides',
 'A_Offsides',
 'H_Yellow cards',
 'A_Yellow cards',
 'H_Red cards',
 'A_Red cards',
 'H_Fouls',
 'A_Fouls']

In [ ]:
summary = recent_5_mean(unov,group_var, sum_var, 5)

In [ ]:
summary

,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,A_Touches,H_Passes,A_Passes,...,H_Corners,A_Corners,H_Offsides,A_Offsides,H_Yellow cards,A_Yellow cards,H_Red cards,A_Red cards,H_Fouls,A_Fouls
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,44.76,55.24,4.4,3.0,9.6,11.4,621.2,726.0,432.6,533.8,...,4.6,4.8,3.4,1.8,1.2,1.8,0.0,0.0,8.0,10.4
1625,47.76,52.24,4.8,3.0,10.8,11.4,631.6,678.4,435.8,482.4,...,5.6,6.2,2.8,1.2,1.2,1.8,0.0,0.0,9.0,9.6
1626,41.72,58.28,4.6,2.8,11.4,12.2,570.0,740.6,367.2,541.6,...,5.0,6.4,2.0,1.0,1.0,2.0,0.0,0.0,10.4,10.0
1627,43.02,56.98,4.2,2.4,11.0,12.6,560.6,684.6,352.2,479.8,...,5.4,7.6,2.2,1.2,1.2,1.8,0.0,0.0,10.8,11.0
1628,44.92,55.08,4.2,3.4,11.8,13.6,577.0,660.6,355.4,444.4,...,5.0,8.8,1.4,0.8,2.2,1.4,0.0,0.0,12.8,10.6