In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = "C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/epl__ (2).xlsx"
data = pd.read_excel(path)
data.head()

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_Corners,A_Corners,H_Offsides,A_Offsides,H_Yellow cards,A_Yellow cards,H_Red cards,A_Red cards,H_Fouls,A_Fouls
0,20.06.18 (목),Aston Villa,Sheffield United,45.1,54.9,6,1,14,5,575,...,12,4,1.0,0.0,1.0,1.0,NaN,NaN,11,14
1,20.06.18 (목),Manchester City,Arsenal,67.1,32.9,12,0,20,3,834,...,5,2,1.0,5.0,1.0,1.0,0.0,1.0,9,7
2,20.06.20 (토),Norwich City,Southampton,55.0,45.0,1,9,9,22,616,...,9,7,3.0,1.0,1.0,1.0,NaN,NaN,9,15
3,20.06.20 (토),Tottenham Hotspur,Manchester United,38.8,61.2,3,6,10,12,566,...,7,6,1.0,3.0,0.0,1.0,NaN,NaN,17,18
4,20.06.20 (토),Watford,Leicester City,31.7,68.3,4,2,8,15,459,...,2,7,0.0,3.0,0.0,1.0,NaN,NaN,15,12

In [6]:
data

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,H_Corners,A_Corners,H_Offsides,A_Offsides,H_Yellow cards,A_Yellow cards,H_Red cards,A_Red cards,H_Fouls,A_Fouls
0,20.06.18 (목),Aston Villa,Sheffield United,45.1,54.9,6,1,14,5,575,...,12,4,1.0,0.0,1.0,1.0,NaN,NaN,11,14
1,20.06.18 (목),Manchester City,Arsenal,67.1,32.9,12,0,20,3,834,...,5,2,1.0,5.0,1.0,1.0,0.0,1.0,9,7
2,20.06.20 (토),Norwich City,Southampton,55.0,45.0,1,9,9,22,616,...,9,7,3.0,1.0,1.0,1.0,NaN,NaN,9,15
3,20.06.20 (토),Tottenham Hotspur,Manchester United,38.8,61.2,3,6,10,12,566,...,7,6,1.0,3.0,0.0,1.0,NaN,NaN,17,18
4,20.06.20 (토),Watford,Leicester City,31.7,68.3,4,2,8,15,459,...,2,7,0.0,3.0,0.0,1.0,NaN,NaN,15,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,9,4,0.0,1.0,2.0,1.0,NaN,NaN,16,12
1157,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,6,6,1.0,1.0,0.0,2.0,NaN,NaN,4,9
1158,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,2,7,1.0,4.0,0.0,3.0,NaN,NaN,13,15
1159,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,15,1,1.0,1.0,1.0,5.0,NaN,NaN,11,13
1160,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,2,11,3.0,1.0,1.0,0.0,NaN,NaN,16,10

In [8]:
path = "C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/BETMAN_ALL (1).xlsx"
data2 = pd.read_excel(path)
data2.head()

,MCH_DTM,HOME_TEAM,AWAY_TEAM,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,UO_RESULT,GM_TS,GM_SEQ,PR_LL_WIN_LEAG_NM
0,20.06.18 (목) 02:00,애스턴,셰필드U,1.88,1.62,2.5,0,0,0,0,U,200035,102,EPL
1,20.06.18 (목) 04:15,맨체스C,아스널,1.82,1.67,3.5,3,0,3,0,U,200035,123,EPL
2,20.06.20 (토) 02:00,노리치,사우샘프,1.73,1.75,2.5,0,3,3,2,O,200036,36,EPL
3,20.06.20 (토) 04:15,토트넘,맨체스U,1.80,1.68,2.5,1,1,2,0,U,200036,45,EPL
4,20.06.20 (토) 20:30,왓포드,레스터,1.77,1.71,2.5,1,1,2,0,U,200036,99,EPL

In [9]:
team_mapping = {
'애스턴' : 'Aston Villa'
,'맨체스C' : 'Manchester City'
,'노리치' : 'Norwich City'
,'토트넘' : 'Tottenham Hotspur'
,'왓포드' : 'Watford '
,'브라이턴' : 'Brighton & Hove Albion'
,'웨스트햄' : 'West Ham United'
,'본머스' : 'Bournemouth'
,'뉴캐슬' : 'Newcastle United'
,'에버턴' : 'Everton'
,'레스터' : 'Leicester City'
,'울버햄튼' : 'Wolverhampton Wanderers'
,'맨체스U' : 'Manchester United'
,'리버풀' : 'Liverpool'
,'번리' : 'Burnley'
,'사우샘프' :  'Southampton'
,'첼시' : 'Chelsea'
,'크리스탈' : 'Crystal Palace'
,'아스널' : 'Arsenal'
,'셰필드U' : 'Sheffield United'
,'풀럼' : 'Fulham'
,'웨스브로' : 'West Bromwich Albion'
,'리즈' : 'Leeds United'
,'울버햄프' : 'Wolverhampton Wanderers'
,'브렌트퍼' : 'Brentford'
,'크리스털' : 'Crystal Palace'
,'노팅엄포' : 'Nottingham Forest'
}

data2['HOME_TEAM'] = data2['HOME_TEAM'].map(team_mapping)
data2['AWAY_TEAM'] = data2['AWAY_TEAM'].map(team_mapping)

In [10]:
data2

,MCH_DTM,HOME_TEAM,AWAY_TEAM,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,UO_RESULT,GM_TS,GM_SEQ,PR_LL_WIN_LEAG_NM
0,20.06.18 (목) 02:00,Aston Villa,Sheffield United,1.88,1.62,2.5,0,0,0,0,U,200035,102,EPL
1,20.06.18 (목) 04:15,Manchester City,Arsenal,1.82,1.67,3.5,3,0,3,0,U,200035,123,EPL
2,20.06.20 (토) 02:00,Norwich City,Southampton,1.73,1.75,2.5,0,3,3,2,O,200036,36,EPL
3,20.06.20 (토) 04:15,Tottenham Hotspur,Manchester United,1.80,1.68,2.5,1,1,2,0,U,200036,45,EPL
4,20.06.20 (토) 20:30,Watford,Leicester City,1.77,1.71,2.5,1,1,2,0,U,200036,99,EPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,23.05.08 (월) 00:30,NaN,NaN,1.49,2.15,2.5,0,2,2,0,U,230052,413,EPL
1157,23.05.08 (월) 03:00,West Ham United,NaN,1.55,2.04,2.5,1,0,1,0,U,230052,440,EPL
1158,23.05.08 (월) 23:00,NaN,NaN,1.61,1.94,2.5,5,3,8,2,O,230053,3,EPL
1159,23.05.09 (화) 01:30,Brighton & Hove Albion,NaN,2.13,1.50,3.5,1,5,6,2,O,230053,7,EPL
1160,23.05.09 (화) 04:00,Nottingham Forest,Southampton,1.82,1.70,2.5,4,3,7,2,O,230053,19,EPL

In [12]:
data2[data2['AWAY_TEAM'].isnull()]

,MCH_DTM,HOME_TEAM,AWAY_TEAM,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT,UO_RESULT,GM_TS,GM_SEQ,PR_LL_WIN_LEAG_NM
110,20.09.29 (화) 01:45,NaN,NaN,1.90,1.57,2.5,0,3,3,2,O,200066,48,EPL
111,20.09.29 (화) 04:00,NaN,NaN,2.14,1.44,3.5,3,1,4,2,O,200066,54,EPL
114,20.10.04 (일) 01:30,NaN,NaN,1.86,1.60,3.5,1,1,2,0,U,200067,165,EPL
115,20.10.04 (일) 04:00,NaN,NaN,2.07,1.47,2.5,3,1,4,2,O,200067,186,EPL
118,20.10.04 (일) 22:00,Wolverhampton Wanderers,NaN,1.81,1.64,2.5,2,1,1,0,U,200067,319,EPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,23.05.06 (토) 23:00,NaN,NaN,1.67,1.86,3.5,2,1,3,0,U,230052,169,EPL
1156,23.05.08 (월) 00:30,NaN,NaN,1.49,2.15,2.5,0,2,2,0,U,230052,413,EPL
1157,23.05.08 (월) 03:00,West Ham United,NaN,1.55,2.04,2.5,1,0,1,0,U,230052,440,EPL
1158,23.05.08 (월) 23:00,NaN,NaN,1.61,1.94,2.5,5,3,8,2,O,230053,3,EPL
1159,23.05.09 (화) 01:30,Brighton & Hove Albion,NaN,2.13,1.50,3.5,1,5,6,2,O,230053,7,EPL